/* Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
/* Fonts family: 
font-family: 'Mulish', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
img{
    width: 100%;
}
.content-width{
    max-width: 1170px;
    margin: 0 auto;
}
.primary-btn{
    background-color: #FF5400;
    color: #FFF;
    padding: 14px 34px;
    border: 0;
    border-radius: 8px;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}
/* navbar section css */
.navbar{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left-side{
    display: flex;
    align-items: center;
}
.nav-left-side img{
    margin-right: 1rem;
}
.nav-left-side h3{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
.nav-left-side>h3>span{
    color: #FF5400; 
}
.nav-right-side ul{
    display: flex;
}
.nav-right-side ul li a{
    margin: 0 1.5rem;
    color: #424247;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all linear .3s;
}
.nav-right-side ul li a:hover{
    color: #FF5400;
}
.frame-icon{
    display: none;
}

/* banner section css */
.banner{
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.banner-container{
    padding: 100px 0;
    background-color: #13131882;
    width: 100%;
    height: 100%;
    text-align: center;
}
.banner-title{
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
}
.banner-desc{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 0 16rem;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-input-box{
    padding: 1rem;
    background-color: #ffffff70;
    margin: 0 12rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}
.banner-input-size{
    width: 174px;
    padding: 16px;
    background-color: #FFF;
    border: 0;
    border-radius: 0.5rem;
    color: rgba(19, 19, 24, 0.50);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.banner-input-btn{
    background-color: #FF5400;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* popular tour section css */
.popular-tour{
    margin: 100px 0;
}
.popular-tour-container{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.popular-tour-content h3{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.popular-tour-content-p{
    margin-top: 1.5rem;
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-tour-content ul{
    list-style-type: disc;
    padding: 0 1.5rem;
}
.popular-tour-content a{
    margin-top: 2rem;
    display: inline-block;
}

/* Media Query CSS */
/* Media query for mobile device */
@media screen and (max-width: 600px) {
    .navbar{
        margin: 1.2rem;
    }
    .nav-left-side h3{
        font-size: 22px;
    }
    .nav-right-side ul{
        display: none;
    }
    .frame-icon{
        display: block;
        cursor: pointer;
    }
    .banner{
        margin: 1.3rem;
    }
    .banner-container{
        padding: 2rem 1.5rem;
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-desc{
        padding: 0;
    }
    .banner-input-box{
        margin: 0;
        flex-direction: column;
    }
    .banner-input-size{
        width: 100%;
    }
    .popular-tour-container{
        flex-direction: column;
        margin: 0 1.5rem;
    }
    .popular-tour-content h3{
        font-size: 24px;
    }
}
/* Media query for tablet devices */
@media screen and (min-width: 601px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .banner{
        margin: 0 1.5rem;
    }
    .banner-container{
        padding: 2rem 1.5rem;
    }
    .banner-desc {
        padding: 0 4rem;
    }
    .banner-input-box {
        flex-wrap: wrap;
        margin: 0 3rem;
    }
    .popular-tour-container{
        flex-direction: column-reverse;
        margin: 0 1.5rem;
    }
}