/* Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
/* Fonts family: 
font-family: 'Mulish', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.content-width{
    max-width: 1170px;
    margin: 0 auto;
}
.primary-btn{
    background-color: #FF5400;
    color: #FFF;
    padding: 14px 34px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}
.section-title{
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.section-para{
    margin-top: 1.5rem;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* navbar section css */
.navbar{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left-side{
    display: flex;
    align-items: center;
}
.nav-left-side img{
    margin-right: 1rem;
}
.nav-left-side h3{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
.nav-left-side>h3>span{
    color: #FF5400; 
}
.nav-right-side ul{
    display: flex;
}
.nav-right-side ul li a{
    margin: 0 1.5rem;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all linear .3s;
}
.nav-right-side ul li a:hover{
    color: #FF5400;
}
.frame-icon{
    display: none;
}

/* banner section css */
.banner{
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.banner-container{
    padding: 100px 0;
    background-color: #13131882;
    width: 100%;
    height: 100%;
    text-align: center;
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
}
.banner-desc{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 0 16rem;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-input-box{
    padding: 1rem;
    background-color: #ffffff70;
    margin: 0 12rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}
.banner-input-size{
    width: 174px;
    padding: 16px;
    background-color: #FFF;
    border: 0;
    border-radius: 0.5rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.banner-input-btn{
    background-color: #FF5400;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* popular tour section css */
.popular-tour{
    margin: 100px 0;
}
.popular-tour-container{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.popular-tour-content h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.popular-tour-content-p{
    margin-top: 1.5rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-tour-content ul{
    list-style-type: disc;
    padding: 0 1.5rem;
}
.popular-tour-content a{
    margin-top: 2rem;
    display: inline-block;
}
/* destination section css */
.destination{
    margin: 100px 0;
}
.destination-p{
    padding: 0 16rem;
    margin-bottom: 3rem;
}
.destination-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}

.grid-img{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #13131823;
    border-radius: 15px;
}
.overlay h3{
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}
.grid-img img{
    width: 100%;
    height: 100%;
}
.grid-item-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.grid-item-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.grid-item-3{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.grid-item-4{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.grid-item-5{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.grid-item-6{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
.grid-item-7{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}
/* choose us section css */
.choose-us-desc{
    padding: 0 16rem;
    margin-bottom: 3rem;
}
.choose-card-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}
.choose-card{
    padding: 2rem;
    border-radius: 16px;
}
.card-1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    grid-column: 1/span 6;
}
.card-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-column: 7/span 6;
}
.card-3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-column: 4/span 6;
}
.choose-card .card-title{
    margin-top: 2rem;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.choose-card .card-desc{
    margin-top: 1rem;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* newsletter section css */
.newsletter{
    margin: 100px 0;
}
.newsletter-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.newsletter-content{
    grid-column: 1/span 5;
    padding: 2.4rem;
    border: 1px solid #FF5400;
    border-radius: 16px; 
}
.newsletter-content h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.newsletter-content p{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}
.newsletter-input{
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: 8px;
    border: 0;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}
.newsletter-btn{
    padding: 1rem 1.2rem;
    width: 100%;
    background: #FF5400;
    color: #FFF;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}
.newsletter-img{
    position: relative;;
    grid-column: 6/span 7;
}
.name-seal {
	position: absolute;
	bottom: 45px;
	right: 10px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #FF5400;
	transform: rotate(-19.628deg);
}
.name-seal h3{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
.name-seal h3>span{
    font-size: 32px;
    font-weight: 800;
}
.newsletter-img img{
    width: 100%;
    height: 100%;
}
/* footer section css */
.footer-bg{
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 0;
}
.footer-content{
    max-width: 872px;
    margin: 0 auto;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    margin-right: 1rem;
}
.footer-logo h3{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}
.footer-logo>h3>span{
    color: #FF5400; 
}
.footer-content p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 24px;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}
.social-icons a{
    color: #131318;
}
.cpyright{
    margin-bottom: 0rem !important;
}





/* Media Query CSS */
/* Media query for mobile device */
@media screen and (max-width: 600px) {
    .navbar{
        margin: 1.2rem;
    }
    .nav-left-side h3{
        font-size: 22px;
    }
    .nav-right-side ul{
        display: none;
    }
    .frame-icon{
        display: block;
        cursor: pointer;
    }
    .banner{
        margin: 1.3rem;
    }
    .banner-container{
        padding: 2rem 1.5rem;
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-desc{
        padding: 0;
    }
    .banner-input-box{
        margin: 0;
        flex-direction: column;
    }
    .banner-input-size{
        width: 100%;
    }
    .popular-tour {
        margin: 50px 0;
    }
    .popular-tour-container{
        flex-direction: column;
        margin: 0 1.5rem;
    }
    .popular-tour-content h3{
        font-size: 24px;
    }
    .popular-tour-img img{
        width: 100%;
        height: 100%;
    }
    .destination,
    .choose-us,
    .newsletter,
    .footer-content{
        margin: 50px 1.5rem;
    }
    .destination-title{
        font-size: 24px;
    }
    .destination-p {
        padding: 0;
    }
    .destination-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .grid-img{
        height: 300px;
    }
    .grid-img img{
        width: 100%;
        height: 100%;
    }
    .grid-item-1{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    .grid-item-2{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .grid-item-3{
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }
    .grid-item-4{
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }
    .grid-item-5{
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }
    .grid-item-6{
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }
    .grid-item-7{
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }
    .section-title {
        font-size: 24px;
    }
    .choose-us-desc {
        padding: 0 0rem;
    }
    .choose-card-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .card-1{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .card-2{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .card-3{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .newsletter-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .newsletter-content{
        grid-column: 1/span 1;
        
    }
    .newsletter-img{
        grid-column: 1/span 1;
        
    }
    .footer-bg {
        padding: 10px 0;
    }
}
/* Media query for tablet devices */
@media screen and (min-width: 601px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .banner{
        margin: 0 1.5rem;
    }
    .banner-container{
        padding: 2rem 1.5rem;
    }
    .banner-desc {
        padding: 0 4rem;
    }
    .banner-input-box {
        flex-wrap: wrap;
        margin: 0 3rem;
    }
    .popular-tour-container{
        flex-direction: column-reverse;
        margin: 0 1.5rem;
    }
    .popular-tour-img img{
        width: 100%;
        height: 100%;
    }
    .destination{
        margin: 100px 1.5rem;
    }
    .destination-p {
        padding: 0 8rem;
    }
    .grid-img{
        height: 300px;
    }
    .grid-item-1{
        grid-column: 1/span 6;
        grid-row: 1/span 1;
    }
    .grid-item-2{
        grid-column: 7/span 6;
        grid-row: 1/span 1;
    }
    .grid-item-3{
        grid-column: 1/span 6;
        grid-row: 2/span 1;
    }
    .grid-item-4{
        grid-column: 7/span 6;
        grid-row: 2/span 1;
    }
    .grid-item-5{
        grid-column: 1/span 6;
        grid-row: 3/span 1;
    }
    .grid-item-6{
        grid-column: 7/span 6;
        grid-row: 3/span 1;
    }
    .grid-item-7{
        grid-column: 1/span 12;
        grid-row: 4/span 1;
    }
    .choose-us{
        margin: 100px 1.5rem;
    }
    .choose-us-desc {
        padding: 0 6rem;
    }
    .choose-card-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .card-1{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .card-2{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .card-3{
        grid-column: 1/span 1;
        grid-row: 1fr;
    }
    .newsletter{
        margin: 100px 1.5rem;
    }
    .newsletter-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .newsletter-content{
        grid-column: 1/span 1;
        
    }
    .newsletter-img{
        grid-column: 1/span 1;
        
    }
}